@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Cabin:wght@600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 5pt;
}

[data-theme="light"] {
  --menu-background-color: #f7ca33;
  --menu-item-color: #000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #fff;
  --menu-background-color: #fff;
  --menu-item-color: #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 72pt;
}

span {
  transition: color 3s;
}

span.hover {
  transition: color 10ms;
}

.blue.hover {
  color: blue;
}

.red.hover {
  color: red;
}

.pink.hover {
  color: pink;
}

.yellow.hover {
  color: yellow;
}

.purple.hover {
  color: purple;
}

@media only screen and (hover: hover) {
  span:hover {
    transition: color 10ms;
  }

  .blue:hover {
    color: blue;
  }

  .red:hover {
    color: red;
  }

  .pink:hover {
    color: pink;
  }

  .yellow:hover {
    color: yellow;
  }

  .purple:hover {
    color: purple;
  }
}

checkbox {
  -webkit-appearance: none;
  outline: none;
}

#theme-switcher {
  -webkit-appearance: none;
  position: fixed;
  top: 3rem;
  right: 2rem;
  width: 100px;
  height: 50px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image 900ms;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
}

#theme-switcher:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: navy;
  border-radius: 50px;
  transition: all 400ms;
  background-color: #f7ca33;
}

#theme-switcher:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  transition: background-image 900ms;
}

#theme-switcher:checked:before {
  transform: translate(100%);
  background-color: #ecf0f3;
}

.circular-menu {
  width: 40px;
  height: 40px;
  margin: 50px auto 0;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

.menu-background {
  background-color: var(--menu-background-color);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: all 400ms ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(1);
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
}

.open .menu-background {
  transform: scale(calc(250 / 40));
  transition: 0.25s;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 400ms ease-out;
  pointer-events: none;
}

.open .menu {
  opacity: 1;
  transform: scale(1);
  pointer-events: unset;
  transition: 250ms;
}

.menu a {
  text-decoration: none;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 18pt;
  color: var(--menu-item-color);
}

.menu a:hover {
  color: #eef;
}

a.fa.menu-button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  text-align: center;
  color: var(--menu-item-color);
  height: 50px;
  width: 50px;
  font-size: 18pt;
  line-height: 50px;
}
